html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* typography and icons */

h1{
    color: #0F8CDF;
    margin-bottom: 10px;
    font-size: 20px;
}

i{
    font-size: 15px;
    cursor: pointer;
}

.fa-solid{
    color: #999;
}

.reply-icon{
    font-size: 23px;
    padding: 12px 8px;
    
}

.liked{
    color: red;
}

.retweeted {
  color: limegreen;
}

.reply-btn {
    cursor: pointer;
    border-bottom: 1px solid #999;
}

/* layout */

main, header{
    width: 290px;
    margin: 0 auto;
}

header{
    padding-bottom: 25px;
}

.tweet-input-area {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

/* textareas + btn */


textarea{
    border: none;
    resize: none;
    padding: 10px;
    margin: 0 0 20px 0;
    height: 60px;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
}

button{
    background-color: #1DA1F2;
    border: none;
    color: white;
    padding: 10px 19px;
    border-radius: 20px;
    width: 100%; 
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

/* tweet */

.tweet{
    border-top: 1px solid lightgray;
    padding: 20px 0 0 0;
    width: 100%;
    margin: 15px 0;
}

.tweet-inner{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.tweet-details{
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    gap: 20px;
    width: 160px;
}

.tweet-detail{
    display: flex;
    gap: 4px;
}

.tweet-reply{
    border-top: 1px solid lightgray;
    padding: 20px 0 0 0px;
    margin: 10px 0 10px 40px;
    width: 80%;
}

.handle{
    font-size: 12px;
    font-weight: 500;
    color: #555;
    margin-top: 0;
}

.tweet-text{
    width: 207px;
    font-size: 14px;
    line-height: 20px;
}

/* images */

.profile-pic{
    border: 1px solid lightgray;
    border-radius: 50%;
    width: 48px;
}

/* utility */
.hidden{
    display: none;
}

/* reply */
.reply {
    display: none;
    position: fixed;
    background:rgba(10, 10, 10, 0.705);
    height: 400px;
    width: 500px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
    padding: 0;
}

.reply h3 {

    display: inline-block;
    color: white;
    font-weight: 900;
    margin: 15px 0 15px 18px;
}

#reply-area{
    background: white;
    margin: 0 10px;
    padding: 18px 20px;
    border-radius: 10px;
    height: 300px;
}

#reply-input-area {
    border: 2px solid rgb(78, 197, 245);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(127, 209, 241);
    height: 100px;
    width: 420px;
    padding: 10px;
}

#close-btn {
    position: absolute;
    right: 0;
    width: 32px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.548);
    padding: 0 0 0 2px;
    font-size: 30px;
    border-radius: 4px;
    margin: 10px 8px 0 0;
}

#tweet-reply {
    display: flex;
    flex-direction: row-reverse;    
    gap: 226px;
}

#tweet-reply-btn {
    padding: 13px 15px 10px 15px;
    width: auto;
    height: auto;
    border: 1px solid rgba(138, 184, 196, 0.658);
    border-radius: 8px;
    font-weight: 400;
}

#tweet-reply-btn:active {
    background-image: linear-gradient(rgb(255, 255, 255), 
    rgba(220, 237, 238, 0.938));
    color: rgb(87, 86, 86);
    border: 1px solid rgba(138, 184, 196, 0.658);
    border-radius: 8px;
}

.reply-msg {
    margin: 15px;
    height: 40%;
    overflow: auto;
}

.reply-handle {
    font-weight: bolder;
    color: #555;
}

